#passwordDiv{
    display:none;
    margin-top: 15px;
}
pre {
    margin: 0;
}
.notif {
    display: none;
    padding: 10px;
    margin: 15px 0 0 0;
    border-style: dashed;
    border-width: 1px;
}
.notifSuccess {
    display: block;
    background-color: #ddffdd;
    border-color: #4cae4c;
}
.notifFail {
    display: block;
    background-color: #e4b9c0;
    border-color: #a94442;
}
#divFileInfo{
    display:none;
    margin-top: 15px;
}

#divMessageInfo{
    display:none;
    margin-top: 15px;
}

#divStatusWrapper {
    display: none;
}
.divGetFile{
    display: none;
}
#divFileMessage{
    display: none;
}
#divFileMessageContent{
    color: rgba(0,0,0,.75);
    overflow: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding-top: 0;
    padding-bottom: 0;
}
.downloadFileInfo{
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 13px;
    color: rgba(0,0,0,.75);
    overflow: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding-top: 0;
    padding-bottom: 0;
}
