body
{
    font-family: Roboto, sans-serif;
    color: #0f3c4b;
}

.box
{
    font-size: 2rem; /* 20 */
    background-color: rgba(0, 167, 215, 0.06);
    position: relative;
    padding: 150px 20px;
    text-align: center;
}

.box.is-success {
    padding: 150px 20px;
}

.box.has-advanced-upload
{
    outline: 2px dashed #00A7D7;
    outline-offset: -10px;

    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.box.is-dragover
{
    outline-offset: -20px;
    outline-color: #0086ac;
    background-color: #fff;
}
.box__dragndrop,
.box__icon
{
    display: none;
}
.box.has-advanced-upload .box__dragndrop
{
    display: inline;
    font-size: inherit;
}
.box.has-advanced-upload .box__icon
{
    width: 100%;
    height: 80px;
    fill: #0086ac;
    display: block;
    margin-bottom: 40px;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input,
.box.is-ready .box__login,
.box.is-uploading .box__login,
.box.is-success .box__login,
.box.is-error .box__login
{
    visibility: hidden;
}

.box__uploading,
.box__success,
.box__error,
.box__input
{
    display: none;
}
.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error,
.box.is-ready .box__input
{
    display: block;
    position: absolute;
    margin: 0 15px 0 15px;
    top: 50%;
    right: 0;
    left: 0;

    -webkit-transform: translateY( -50% );
    transform: translateY( -50% );
}
.box__uploading
{
    font-style: italic;
}
.box__success
{
    -webkit-animation: appear-from-inside .25s ease-in-out;
    animation: appear-from-inside .25s ease-in-out;
}
@-webkit-keyframes appear-from-inside
{
    from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
    75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
    to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
}
@keyframes appear-from-inside
{
    from	{ transform: translateY( -50% ) scale( 0 ); }
    75%		{ transform: translateY( -50% ) scale( 1.1 ); }
    to		{ transform: translateY( -50% ) scale( 1 ); }
}

.box__restart
{
    font-weight: 700;
}
.box__restart:focus,
.box__restart:hover
{
    color: #39bfd3;
}

.js .box__file
{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.js .box__file + label
{
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    font-size: inherit;
    font-weight: normal;
}
.js .box__file + label:hover strong,
.box__file:focus + label strong,
.box__file.has-focus + label strong
{
    color: #39bfd3;
}
.js .box__file:focus + label,
.js .box__file.has-focus + label
{
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.js .box__file + label *
{
    /* pointer-events: none; */ /* in case of FastClick lib use */
}

.no-js .box__file + label
{
    display: none;
}

.no-js .box__button
{
    display: block;
}
.box__button
{
    font-weight: 700;
    color: #e5edf1;
    background-color: #39bfd3;
    display: block;
    padding: 8px 16px;
    margin: 40px auto 0;
    border: 0px;
}
.box__button:hover,
.box__button:focus
{
    background-color: #0f3c4b;
}

#divButtons{
    display: none;
    margin-top: 10px;
}

.box #divUploadLogin{
    margin: 50px 0 50px 0;
    font-size: 1.5rem;
}

#bloc-info{
    display:none;
}

.qr {
    /*font-size: 1rem; !*1rem;*!*/
    /*padding-top: 10px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.signinWrapper{
    margin-top: 25px;
}

.box.is-uploading .signinWrapper,
.box.is-success .signinWrapper,
.box.is-error .signinWrapper,
.box.is-ready .signinWrapper {
    visibility: hidden !important;
}

.box.is-uploading .signinWrapper iframe,
.box.is-success .signinWrapper iframe,
.box.is-error .signinWrapper iframe,
.box.is-ready .signinWrapper iframe {
    visibility: hidden !important;
}
